global
    maxconn 256
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend connector_access_tls_passthrough
    bind :24443
    default_backend windows_connector_kestrel

backend windows_connector_kestrel
    mode tcp
    option tcp-check
    server connector 62.113.36.107:24443 check inter 5s fall 3 rise 2
