<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Model"
                          publicKeyToken="2f04dbe497b71114"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
        <codeBase version="2025.0.0.0"
                  href="file:///C:/TeklaStructures/2025.0/bin/Tekla.Structures.Model.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Geometry3d"
                          publicKeyToken="2f04dbe497b71114"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
        <codeBase version="2025.0.0.0"
                  href="file:///C:/TeklaStructures/2025.0/bin/Tekla.Structures.Geometry3d.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures"
                          publicKeyToken="2f04dbe497b71114"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.0.0.0" newVersion="2025.0.0.0" />
        <codeBase version="2025.0.0.0"
                  href="file:///C:/TeklaStructures/2025.0/bin/Tekla.Structures.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
