<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Model" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.Model.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Geometry3d.Compatibility" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.Geometry3d.Compatibility.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Datatype" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.Datatype.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Catalogs" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.Catalogs.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.CustomPropertyPlugin" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.CustomPropertyPlugin.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Drawing" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.Drawing.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Plugins" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/plugins/Tekla.Structures.Plugins.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Dialog" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.0.0" newVersion="2020.0.0.0" />
        <codeBase version="2020.0.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/dialogs/Tekla.Structures.Dialog.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Common.Geometry" publicKeyToken="93c0f7e4f1ca9619" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
        <codeBase version="4.5.9.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/Tekla.Common.Geometry.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Common.Geometry.Primitives" publicKeyToken="93c0f7e4f1ca9619" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
        <codeBase version="4.5.0.0" href="file:///C:/TeklaStructures/2020.0/nt/bin/Tekla.Common.Geometry.Primitives.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
